#app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 100px;
  color: #2c3350;
  text-align: center;
  font-size: 16px;
}

.form-block {
  margin: 0 auto;
  border: 1px solid #2c3350;
  border-radius: 4px;
  width: 500px;
  padding: 20px;
}
.form-card {
  text-align: left;
}
.signout-btn {
  position: absolute;
  text-align: right;
  top: 150px;
  right: 120px;
}

.event-card {
  border: 2px solid #2c3350;
  margin-top: 10px;
  border-radius: 4px;
}
